[Unit]
Description = RTL-SDR Stream Source Client
Documentation = https://github.com/j0uni/rtl_icecast

[Service]
Type = simple
ExecStartPre = test -x %h/.local/bin/rtl_icecast
ExecStart = %h/.local/bin/rtl_icecast --quiet -c %h/.config/rtl_icecast/config.ini
Restart = always

[Install]
WantedBy = default.target
