[rtl_sdr]
sample_rate = 1024000

center_freq_mhz = {{ rtl_icecast_center_freq }}
gain_mode = 0        ; 0 = automatic gain, 1 = manual gain
tuner_gain = 90      ; in tenths of dB (e.g., 90 = 9.0 dB), only used when gain_mode = 1
ppm_correction = 0   ; frequency correction in PPM (0 = disabled)
fm_mode = wide       ; wide or narrow

[audio]
audio_rate = 48000
mp3_bitrate = 192
mp3_quality = 8
audio_buffer_seconds = 1

[audio_filters]
lowcut_enabled = false    ; true or false
lowcut_freq = 500.0      ; in Hz, frequencies below this will be attenuated
lowcut_order = 4         ; filter order (higher = steeper cutoff, but more CPU)

[squelch]
enabled = true    ; true or false
threshold = -20.0  ; in dB, signals below this will be muted
hold_time = 500    ; in milliseconds, how long to keep squelch open after signal drops

[icecast]
host = {{ icecast_host }}
port = {{ icecast_ports[0] }}
mount = /{{ icecast_mountpoint }}
station_title = {{ station_ice_name }}
password = {{ icecast_sourcepw }}
user = source
protocol = http    ; only http is supported for now
format = mp3
reconnect_attempts = 5
reconnect_delay_ms = 2000 
