# vu-meters XDG
# {{ ansible_managed }} -- Changes here may be lost!
# See David Klann <dklann@broadcasttool.com> for details.
# last updated: Wed Jun 04 10:36:26 AM 2025 CDT
[Desktop Entry]
X-AppInstall-Popcon=981
X-AppInstall-Section=main
Type=Application
Exec=/home/{{ device_user }}/.local/bin/vu-meters
Hidden=false
X-MATE-Autostart-enabled=true
Name=VU Meter
Comment=VU Meter for RTL FM
Categories=Multimedia;Audio;
Icon=meterbridge
Terminal=false
StartupNotify=false
